/* Styling for contact page (kontakt.html) ends here */

body {
    background-color: white;
}

#info {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
