/* Style for vertical and horizontal navbar: Rune Lauridsen */

#vert-navbar-container {
  background-color: #ffe0aa;
}

#vert-navbar-sub {
  font-size: 0.9em;
}

#hori-navbar {
  background-color: #f6a61d;
}

#hori-navbar-logo {
  width: 50px;
  margin: 20px;
}





/* Styling for the board game pages [START], Author: Sebastian Cedbak Bak */
/**/
/**/

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #d88c0a;
}

#horiNavBar {
  width: 100%;
  height: 10vh;
  background-color: #f6a61d;
  border-bottom: solid 1px rgb(125, 125, 125);
}

#horiNavBarLogo {
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: auto;
  margin-left: 3vw;
  float: left;
}

#horiNavBarTitle {
  font-size: 1em;
  line-height: 10vh;
  /* Same height as orange area of horiNavBar */
  margin-left: 20px;
  float: left;
  font-weight: 500;
}

#horiNavBarSearchCon {
  width: 16vw;
  height: 3vh;
  background-color: white;
  float: right;
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin-right: 3vw;
  border: solid 1px rgb(125, 125, 125);
}

#horiNavBarSearchIcon {
  height: 50%;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin-right: 0.5vw;
}

#vertNavBar {
  float: left;
  width: 18vw;
  background-color: #ffe0aa;
  height: 90vh;
  border-right: solid 1px rgb(125, 125, 125);
}

#vertNavBarList {
  left: 30%;
  top: 3%;
  position: relative;
  font-size: 1em;
  list-style-type: none;
}

.vertNavBarHeader {
  margin-bottom: 1vh;
}

.vertNavBarSubList {
  margin-left: 2vw;
  list-style-type: circle;
  font-size: 0.9em;
  color: rgb(39, 39, 39);
}

#mainCon {
  padding-top: 4vh;
  padding-left: 4vw;
  background-color: rgb(250, 250, 250);
  height: 86vh;
  overflow-y: scroll;
}

.pageHeader {
  font-size: 1.5em;
  font-weight: 500;
}

.smallDivider {
  width: 4vw;
  height: 0.2vh;
  background-color: rgb(108, 108, 108);
  margin-top: 0.3vh;
}

#kategoriBeskrivelse {
  display: inline-block;
  color: #424242;
  width: 32vw;
}

#filterCon {
  margin: 2vh;
  width: 40vw;
}

.dropDownMenu {
  float: left;
  margin-right: 1.5vw;
}

#boardGamesCon {
  padding: 1vh;
  overflow: auto;
}

.boardGameCard {
  width: 14vw;
  height: 18vw;
  border-radius: 0.6vw;
  padding: 1vw;
  float: left;
  margin: 1vw;
  font-size: 1.3vw;
  /* Scale font-size with viewport, since boardGameCards themselves are scaled by viewport */
  background: linear-gradient(166deg,
      rgba(240, 204, 148, 1) 0%,
      rgba(249, 180, 64, 1) 75%,
      rgba(255, 162, 0, 1) 100%);
}

.bottomSpace {
  height: 2vh;
  width: 100%;
}

.boardGameCardBottom {
  width: 16vw;
  margin-left: -1vw;
  border-radius: 0.6vw;
  border-bottom: solid 0.4vh rgb(224, 142, 1);
  height: 1vw;
  margin-bottom: -19.2vw;
  margin-top: 17.8vw;
}

.boardGameCardText {
  line-height: 1.6vw;
  font-size: 0.7em;
}

.boardGameCardTitle {
  align-self: center;
  margin: auto;
  text-align: center;
  font-size: 1em;
  padding: 0.3vw;
}

.boardGameCardTitleSmall {
  align-self: center;
  margin: auto;
  text-align: center;
  font-size: 0.8em;
  padding: 0.3vw;
}

.boardGameCardPlayersImg {
  width: 1.6vw;
  float: left;
  margin-right: 1vh;
  height: 1.6vw;
}

.boardGameCardImage {
  width: 100%;
  border-radius: 0.5vh;
  max-height: 10vw;
  min-height: 10vw;
}

.boardGameCardButton {
  width: 80%;
  height: 2em;
  margin: auto;
  background-color: #9eda59;
  text-align: center;
  position: relative;
  line-height: 2em;
  border-radius: 100px;
  margin-top: 0.2em;
}

.gameOwnerText {
  height: 3em;
}

.boardGameCardButton:hover {
  background-color: #a7dc6b;
  cursor: pointer;
}

/**/
/**/
/* Styling for the board game pages [END] */


/* Styling for front page (index.html) begins here */

#front_page_container {
  height: 90vh;
  overflow-y: scroll;
}

.front_page_section {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-top: 30px;
  margin-right: 100px;
  overflow: auto;
  /* Avoid horizontal scrollbar when image+margin does fit within its parent (#front_page_container) */
  overflow-x: hidden;
}

.front_page_section img {
  width: 400px;
}

/* Alternate between image on left and right side */
.front_page_section:nth-child(odd) img {
  margin-left: 100px;
  float: right;
}

.front_page_section:nth-child(even) img {
  margin-right: 100px;
  float: left;
}

/* Styling for front page (index.html) ends here */

/* Styling for event page (event.html) starts here */

.center {
  margin-left: auto;
  margin-right: auto;
}

#tabel1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  right: 10px;
  left: 50%;
  margin-bottom: 3vh;
}

.Event {
  background-image: url(../images/boardgame_pieces.jpeg);
  background-size: cover;
  overflow-y: scroll;
  height: 90vh;
}

.Event h1 {
  text-align: center;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  background-color: lightgoldenrodyellow;
  border-color: black;
}

tr :nth-child(even) {
  background-color: white;
}

#facebook {
  margin-left: 500px;
}

/* Styling for event page (event.html) ends here */