/* 
 * Styles for vertical and horizontal navbar used on all pages
 */

#vert-navbar-container {
  background-color: #ffe0aa;
}

#vert-navbar-sub {
  font-size: 0.9em;
}

#hori-navbar {
  background-color: #f6a61d;
  height: 10vh;
}

#hori-navbar-logo {
  width: 50px;
  margin: 20px;
}

/*
 * Styles for boardgame cards
 */

.card {
  /* Normally Boostrap auto-sizes card width to fill their container, however we want cards to be a constant width. */
  width: 18rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.card-img-top {
  /* Make sure all boardgame images take up the same space, regardless of their aspect ratio.
  This will stretch some images, but keeps the boardgame cards at a constant height. */
  height: 14rem;
}

.card-img-players {
  /* Uses em units, so icon scales with text */
  height: 1.5em;
  margin-bottom: 0.1em;
}

.card-title {
  text-align: center;
}

.card-text {
  /* Remove margin, to make paragraphs more compact inside boardgame cards*/
  margin: 0px;
}

.card-text-players {
  display: inline;
}

.card-text-status {
  font-style: italic;
  font-size: 0.8em;
}

/* Styling for events.html */
#events-container {
  background-image: url(../images/boardgame_pieces.jpeg);
  background-size: cover;
  height: 90vh;
  overflow-y: auto;
}

#events-container form * {
  width: 100%;
}

#events-container input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: min-content;
}

/* Could also be done using boostrap by adding alternating
 * bg-white and  bg-dark classes to every row, but this is simpler.
 */
#events-container .row:nth-child(odd) {
  background-color: gray;
}

#events-container .row:nth-child(even) {
  background-color: white;
}

/* 720px = bootstrap md 
 * Make the event table look like a chessboard.
 * Could also be done using boostrap by adding many
 * border-md and bg-md-x to every column, but this is simpler.  
 */
@media only screen and (min-width: 720px) {
  .row:nth-child(even) .col-md-3:nth-child(even) {
    background: grey;
  }

  .row:nth-child(odd) .col-md-3:nth-child(even) {
    background: white;
  }

  .col-md-3 {
    border: 2px solid black;
  }
}

/* Styling for kontakt.html */
#info {
  color: black;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}
