/* Styling for contact page (kontakt.html) ends here */

body {
    background-color: white;
}

#horiNavBar {
    width: 100%;
    height: 200px;
    background-color: rgb(203, 155, 32);
}

div {
    border: 20px;
}

#vertNavBar {
    float: left;
    width: 400px;
    background-color: rgb(87, 190, 173);
    height: 2000px;
}

h2 {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    border-style: inset;

}

#info {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#Persons {
    border: 5px solid rgb(204, 172, 92);
}

#Oumar {
    border: 30px solid rgb(203, 155, 32);
}

#Simone {
    border: 30px solid rgb(203, 155, 32);
}

#Rune {
    border: 30px solid rgb(203, 155, 32);
}

#Bak {
    border: 30px solid rgb(203, 155, 32);
}

img {
    float: left
}